# Django
*.pyc
*/
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
*.sqlite3
*.db

# Static files
/staticfiles/
/mediafiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.prod

# Logs
*.log
logs/
