{% extends 'books/base.html' %}

{% block title %}Книжный уголок - Регистрация{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="form-title">Регистрация</h2>
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="errorlist">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="register-name">Имя пользователя</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="errorlist">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="register-email">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="errorlist">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="register-password">Пароль</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="errorlist">{{ form.password1.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="register-confirm">Подтверждение пароля</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="errorlist">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn" style="width: 100%;">Зарегистрироваться</button>
        </form>
        <div class="form-footer">
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
        </div>
    </div>
</div>
{% endblock %}
